body {
    font-family: 'Segoe UI Light', 'sans-serif';
    margin: 5px;
    padding: 0;
}

table tr td,
table thead th {
    border: none;
    font-size: 15px;
    padding: 3px 3px;
    width: 100%;
    min-width: 100px;
    vertical-align: middle;
    text-align: left;
}

table tr td a {
    text-decoration: none;
    color: #3f3f3f;
}

table img {
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;    
}

table img.thumbnail {
    width: 100px;
    height: 60px;
    margin-right: 10px;
}

table tr td:hover,
table thead th:hover {
    background: #fafafa
}

table tbody tr:nth-child(even),
table thead th:nth-child(even)  {
    background: #fafafa;
}

table tbody tr:nth-child(even) > td:hover{
    background: #f0f0f0;
}

td.download {
    padding: 0;
    margin: 0;
}
td.download-button a {
    background: #9400e6;
    margin: 3px;
    padding: 5px;
    font-size: 11px;
    color: #ffffff;
}
